{% extends 'layout.html' %}
{% load static %}

{% block title %}
Crear una categoria
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        <h1 class="my-5">Agregar categoria</h1>
        <div class="form-group ">
            <form method="POST">

                {% csrf_token %}
                {{form.as_p}}
                <button class="btn-primary">Agregar categoria</button>
            </form>
        </div>
    </div>
{% else %}
    Tu no deberias estar aqui
{% endif %}
{% endblock %}