{% extends 'layout.html' %}
{% load static %}

{% block title %}
    {{post.title_tag}}
{% endblock %}

    {% block content %}
<div class="container">
        <h1>{{post.title}}</h1>
    <small>By: {{post.author.first_name}} 
        {{post.author.last_name}} - 
        {{ post.post_date }}
        {% if user.is_authenticated %}

            {% if user.id == post.author.id %}
                -
                <a href="{% url 'update_post' post.pk %}">Editar</a> - 
                <a href="{% url 'delete_post' post.pk %}">Eliminar</a> 
            {% endif %}
        {% endif %}
    </small>
    <br><hr><br>
        {% if post.header_image %}
            <img src="{{ post.header_image.url}}" alt=""> <br><br>
        {% endif %}
        {{post.content | safe}}
        <br>
        <hr>
        <br>
        <h2>Publicado por</h2>
        <div class="card mb-3 border-0">
            <div class="row g-0">
            <div class="col-md-2 m-auto">
                {% if post.author.profile.profile_pic %}
                    <img src="{{post.author.profile.profile_pic.url}}" class="img-fluid rounded-circle ">
                {% else %}
                    <img src="{% static 'fotodeperfildeterminada.png' %}" class="img-fluid rounded-circle ">
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">
                        {{post.author.first_name}} 
                        {{post.author.last_name}} 
                    </h5>
                    <p class="small text-muted">

                        <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a> |
                        {% if post.author.profile.website_url %}
                            <a href="{{post.author.profile.website_url}}">Pagina web</a>
                        {% endif %}
                        {% if post.author.profile.facebook_url %}
                            | <a href="{{post.author.profile.facebook_url}}">Facebook</a>
                        {% endif %}
                        {% if post.author.profile.insta_url %}
                            | <a href="{{post.author.profile.insta_url}}">Instagram</a>
                        {% endif %}
                        {% if post.author.profile.twitter_url %}
                            | <a href="{{post.author.profile.twitter_url}}">Twitter</a>
                        {% endif %}
                    </p>
                <p class="card-text">{{post.author.profile.bio}}</p>
        
                </div>
            </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}

            {% if user.is_authenticated %}
                {% if liked %}
                    <button type = "submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm" >DisLike</button>
                {% else %}
                    <button type = "submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm" >Like</button> 
                {% endif %}
            {% else %}
                <small> <a href="{% url 'login' %}" style="text-decoration: none; color:#165016 ;" >Iniciar sesion</a> para dar like</small>
            {% endif %}
            - {{ total_likes }} Likes
        </form>

        <br><br>

            <h3>Comentarios</h3>
            <br>
            <hr>

            {% if not post.comments.all %}
                Sin comentarios <a href="{% url 'add_comment' post.pk %}">Se el primero en comentar el post</a>
            {% else %}
                {% for comment in post.comments.all %}
                    <strong>
                        {{  comment.name }} - {{ comment.date_added }}
                    </strong>
                    <br>
                        {{ comment.body }}
                    <br><br>
                    <hr>
                {% endfor %}
                <a href="{% url 'add_comment' post.pk %}">Comentar</a>
                <br>
            {% endif %}
        <br><br>
</div>
    {% endblock %}
