{% extends 'layout.html' %}
{% load static %}

{% block title %}
Eliminar post
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
            <h1 class="my-5">Eliminar post</h1>
            <br><br>
            <h3>Eliminar: {{post.title}}</h3>
            <br>
            <div class="form-group ">
                <form method="POST">
                    {% csrf_token %}
                    <button class="btn-primary">Eliminar post</button>
                </form>
            </div>
    {% else %}
        Tu no deberias estar aqui
    {% endif %}
{% else %}
    Tu no deberias estar aqui
{% endif %}
{% endblock %}